<%= form_with(model: apartment, local: true) do |form| %>
2	  <% if apartment.errors.any? %>
3	    <div id="error_explanation">
4	      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>
5
6	      <ul>
7	      <% apartment.errors.full_messages.each do |message| %>
8	        <li><%= message %></li>
9	      <% end %>
10	      </ul>
11	    </div>
12	  <% end %>
13
14	  <div class="field">
15	    <%= form.label :street %>
16	    <%= form.text_field :street %>
17	  </div>
18
19	  <div class="field">
20	    <%= form.label :city %>
21	    <%= form.number_field :city %>
22	  </div>
23
24	  <div class="field">
25	    <%= form.label :postal_code %>
26	    <%= form.text_field :postal_code %>
27	  </div>

      <div class="field">
25	    <%= form.label :state %>
26	    <%= form.text_field :state %>
27	  </div>

      <div class="field">
25	    <%= form.label :country %>
26	    <%= form.text_field :country %>
27	  </div>
28
29	  <div class="actions">
30	    <%= form.submit %>
31	  </div>
32	<% end %>